:host {
    background-image: linear-gradient(135deg, var(--color-1) 32%, var(--color-2) 68%);
    background-repeat: no-repeat;
}

.corner {
    position: absolute;
    z-index: 100;
    width: 60px;
    height: 60px;
}

.icon {
  position: absolute;
  z-index: 100;
  width: 25px;
  height: 25px;
}

#top-left {
    top: 0;
    left: 0;
    background-image: linear-gradient(-45deg, transparent 50%, var(--color-3) 50%);
}

#language {
  top: 5px;
  left: 5px;
  width: 23px;
  height: 23px;
}

#top-right {
    top: 0;
    right: 0;
    background-image: linear-gradient(45deg, transparent 50%, var(--color-3) 50%);
}

#email {
  top: 2px;
  right: 5px;
}

#bottom-left {
    bottom: 0;
    left: 0;
    background-image: linear-gradient(45deg, var(--color-4) 50%, transparent 50%);
}

#facebook {
  bottom: 8px;
  left: 0px;
}

#bottom-right {
    bottom: 0;
    right: 0;
    background-image: linear-gradient(-45deg, var(--color-4) 50%, transparent 50%);
}

#twitter {
    bottom: 5px;
    right: 5px;
}

.circle1 {
    width: 500px;
    height: 500px;
    background-color: var(--color-5);
    border: 0;
    opacity: 0.3;
    position: absolute;
    border-radius: 100%;
    bottom: -254px;
    left: -255px;
    animation: circle-ani1 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }
  
  .circle2 {
    width: 120px;
    height: 120px;
    background-color: var(--color-5);
    border: 0;
    opacity: 0.5;
    position: absolute;
    border-radius: 100%;
    bottom: 214px;
    left: -69px;
    animation: circle-ani2 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }
  
  .circle3 {
    width: 30px;
    height: 30px;
    background-color: var(--color-5);
    border: 0;
    opacity: 0.6;
    position: absolute;
    border-radius: 100%;
    top: 183px;
    left: 78px;
    animation: circle-ani3 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }
  
  .circle4 {
    width: 220px;
    height: 220px;
    background-color: transparent;
    border: solid 2px var(--color-5);
    opacity: 0.6;
    position: absolute;
    border-radius: 100%;
    bottom: -100px;
    left: 100px;
    animation: circle-ani3 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }
  
  .circle5 {
    width: 50px;
    height: 50px;
    background-color: var(--color-5);
    border: 0;
    opacity: 0.5;
    position: absolute;
    border-radius: 100%;
    bottom: 30px;
    left: 298px;
    animation: circle-ani2 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }
  
  .circle6 {
    width: 300px;
    height: 300px;
    background-color: transparent;
    border: solid 2px var(--color-5);
    opacity: 0.6;
    position: absolute;
    border-radius: 100%;
    top: -150px;
    right: -80px;
    animation: circle-ani3 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }
  
  .circle7 {
    width: 165px;
    height: 165px;
    background-color: var(--color-5);
    border: 0;
    opacity: 0.45;
    position: absolute;
    border-radius: 100%;
    top: 71px;
    right: -106px;
    animation: circle-ani1 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }
  
  .circle8 {
    width: 20px;
    height: 20px;
    background-color: var(--color-5);
    border: 0;
    opacity: 0.7;
    position: absolute;
    border-radius: 100%;
    top: 183px;
    right: 78px;
    animation: circle-ani2 10s infinite;
    animation-timing-function: linear;
    z-index: -100;
  }

  @keyframes circle-ani1 {
    0% {
      transform: translateX(0px) translateY(0px);
    }
    20% {
      transform: translateX(20px) translateY(-10px);
    }
    40% {
      transform: translateX(-10px) translateY(-30px);
    }
    60% {
      transform: translateX(-20px) translateY(-10px);
    }
    80% {
      transform: translateX(10px) translateY(10px);
    }
    100% {
      transform: translateX(0px) translateY(0px);
    }
  }
  @keyframes circle-ani2 {
    0% {
      transform: translateX(20px) translateY(0px);
    }
    20% {
      transform: translateX(-10px) translateY(20px);
    }
    40% {
      transform: translateX(0px) translateY(-10px);
    }
    60% {
      transform: translateX(20px) translateY(0px);
    }
    80% {
      transform: translateX(-10px) translateY(20px);
    }
    100% {
      transform: translateX(20px) translateY(0px);
    }
  }
  @keyframes circle-ani3 {
    0% {
      transform: translateX(-30px) translateY(10px);
    }
    20% {
      transform: translateX(-10px) translateY(0px);
    }
    40% {
      transform: translateX(0px) translateY(-20px);
    }
    60% {
      transform: translateX(20px) translateY(10px);
    }
    80% {
      transform: translateX(15px) translateY(-20px);
    }
    100% {
      transform: translateX(-30px) translateY(10px);
    }
  }