@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root {
    --color-1: #a7e0e5;
    --color-2: #ffe0e3;
    --color-3: rgb(205, 72, 107);
    --color-4: #1d9bf0; 
    --color-5: white;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-image: linear-gradient(135deg, var(--color-1) 32%, var(--color-2) 68%);
    background-repeat: no-repeat;
}

svg, foreignObject {
    width: 100%;
    height: 100%;
}