:host {
  
}

section {
  width: 500px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 1s;

  display: flex;
  flex-direction: column;
}

header {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1;
}

footer {
  flex: 1;
  background: rgba(255, 255, 255, 0.25);
}

img {
  width: 150px;
  border-radius: 50%;
}