:host {
  font-size: medium;
  animation: drop-fade 1.2s forwards cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0;
}

.container {
  margin: 0 auto; 
  position: relative;
	perspective: 1000;
  transform-style: preserve-3d;
  perspective-origin: right;
  transform: perspective(1400px);
}

.card {
  width: 600px;
  height: 340px;
  position: relative; 
  transform: rotate(0deg);
  transform-origin: 100% 0%;
  transform-style: preserve-3d;
  transition: .8s ease-in-out;
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}

.flip {
  transform: rotateY(180deg) translateX(100%);
}

@keyframes drop-fade{
  from {
    filter: blur(5px);
    opacity: 0;
  }

  to {
    filter: blur(0px);
    opacity: 1;
  }
}

.front {
  display: flex;
  flex-direction: column;
}

.front header {
  text-align: center;
  padding-top: 20px;
}

.front main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.front footer {
  flex: 1;
  text-align: center;
}

.front h1 {
  margin: 15px 10px 10px;
}

.front p {
  margin: 10px;
}

.front small {
  cursor: default;
  margin: 0 20px 10px;
}

.logo {
  width: 150px;
  border-radius: 50%;
  transform: scale(-1, 1);
}

.back {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr;
}

.back header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.back main {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 10px;
}

.back footer {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  text-transform: uppercase;
}

.detail {
  height: 25px;
  margin-bottom: -8px;
  margin-right: 5px;
}

.social {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #575F60;
}

.social:hover {
  background: #575F60;
  stroke: #fff;
}

button {
  background: #fff;
  color: #212129;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 10px 20px;
  border-radius: 30px;
  transition: 300ms;
  cursor: pointer;
  width: fit-content;
  border: #575F60 solid 2px;
}

button:hover {
  background: #575F60;
  color: #fff;
  transition: 300ms;
}

h1 {
  font-size: x-large;
  cursor: pointer;
}

.back h1 {
  font-size: 3em;
  margin: 25px 0 10px;
}

p {
  cursor: default;
}

a {
  color: currentColor;
}

footer {
  background: rgba(255, 255, 255, 0.25);
}